.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-gallery {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-link {
  color: #61dafb;
}

.marginTop{
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.padding{
  padding: 15px;
  background-color: #2d5e6b;
}

.marginRight{
  margin-right: 5px;
}

.text{
  color: white;
  text-decoration: none; 
}

.text:focus{
  color: white;
  text-decoration: none; 
}

.text:hover{
  color: white;
  text-decoration: none; 
}


.containerPhoto {
  position: relative;
  width: 650px;
  height: 350px;
}
.image1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 650px;
  height: 350px;
  z-index: 1; /* Immagine sopra */
}
.image2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 650px;
  height: 350px;
  z-index: 0; /* Immagine sotto */
}


.image2[src=""] {
  display: none; 
}